<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark d-flex justify-content-center">
            <div class="flex-navbar">
                <div class="collapse navbar-collapse d-flex flex-row justify-content-center" id="navbarCollapse">
                    <ul class="navbar-nav mb-2 mb-md-0">
                        <li class="nav-item mx-3">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link" aria-current="page" href="/Registration">Register</a>
                        </li>
                         <li class="nav-item mx-3">
                            <a class="nav-link" aria-current="page" href="/Community">Community</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-min-height d-flex flex-column justify-content-between ">
        <div class="center-container">
            @RenderBody()
        </div>
        <footer class="center-container mt-5">
            <p>© 2023 Barabash, Inc.</p>
        </footer>
    </div>
</body>
</html>