body {
    background: #fcfcfc;
}

.container-min-height {
    min-height: 100vh
}

.center-container {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 56px;
}

.btn-secondary-light {
    color: #222 !important;
    background-color: #d4d4d4 !important;
    border-color: #d4d4d4 !important;
}

.btn-secondary-light:hover {
    color: #fff !important;
    background-color: #808080 !important;
    border-color: #808080 !important;
}

.flex-navbar {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.validation-error ul {
    list-style-type: none;
    padding-left: 0
}